---
layout: home
---
<div id="post-page" class="container-fluid">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<section class="article-list">
			{% for post in paginator.posts %}
			<article class="main-article">
				<div class="article-icon">
					<img class="{{ post.categories[0] }}" src="assets/img/cat/{{ post.categories[0] }}.png" />
				</div>
				<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
				<p>{{ post.excerpt | remove: '<h1>' | remove: '</p>' }}</p>
				<time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date: "%-d %B %Y" }}</time>
			</article>
			{% endfor %}
		</section>
		<nav class="default-pagination-nav">
			<ul class="pagination">
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
				<li class="active"><a>{{ page }}</a></li>
				{% elsif page == 1 %}
				<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
				{% else %}
				<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</nav>
	</div>
</div>