#post-page {
	h1 {
		@extend %default-title;		
		margin-bottom: 20px;
		font-size: 1.647rem;
	}

	.post-content {
		@extend %box-default;

		p {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			max-width: 100%;
		}

		ul {
			margin-bottom: 20px;
		}

		p + ul {
			margin-top: -15px;
		}

		h1, h2, h3, h4, h5 {
			margin-top: 30px;
			margin-bottom: 20px;
			color: $main-color;
			font-weight: bold;
		}
		
		h2 {font-size: 1.294rem}

		h3 {font-size: 1.176remrem}

		time {
			display: block;
			margin-bottom: 20px;
			text-align: right;
		}

		code.highlighter-rouge {
			background-color: $main-color;
			color: #fff;
		}
	}

	.post-author {
		display: block;
		margin-top: 40px;
		background-color: $main-color;
		padding: 20px;
		text-align: center;
		color: #fff;

		figure {
			margin-bottom: 15px;
		}

		h1 {
			@extend %default-title;
			margin-bottom: 15px;
			color: #fff!important;
			font-weight: bold;
		}

		p {
			margin: 0;
			font-size: 0.9412rem;
		}

		a {
			color: #fff;
			font-weight: bold;
		}
	}

	.comments-box {
		margin: 40px 0;
	}
}