<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111321768-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-111321768-1');
	</script>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="{{ site.url }}/assets/css/app.min.css?2" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}" />
</head>
<body>
	<div class="global-wrap">
		<header id="global-header">
			<div class="top-head">
				<a class="site-url" href="{{ site.url }}">
					<span class="title-name"><span class="transp">print</span> <h1>joão pedro alves</h1> <span class="transp">;</span></span>
				</a>
			</div>
			<div class="bottom-head">
				<h2>desenvolvimento web <b>pistola!</b></h2>
			</div>
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<i class="alone-border"></i>
			</div>
		</header>
		<div id="global-content">